/* index.css */

:root {
  --color-white: #fff;
  --color-main: #101828;
  --color-background-header-footer: #333;
  --color-light-grey-text: #475467;
  --color-logo: #ff6600;
  --color-button-background: #f48f4b;
  --color-favorite-active: #e44848;
  --color-hover: #ff6961;
  --color-button-hover: #939302;
  --color-button-active: #939302;
  --color-icon-star: #ffc531;
  --color-light-grey: #f2f4f7;
  --color-light-grey-input: #f7f7f7;
  --color-background-secondary: #e5eba0;
  --color-price-background: transparent;
  --color-modal-overlay: rgba(0, 0, 0, 0.5);
  --color-background: rgba(0, 0, 0, 0.1);
  --color-border-light: rgba(16, 24, 40, 0.1);
  --color-border: rgba(16, 24, 40, 0.2);
  --color-avatar-bg: #f2f4f7;
  --color-icon-stroke: dimgray;
  --color-favorite: none;

  /* fonts */
  --font-inter-medium: 'Inter-Medium', sans-serif;
  --font-inter-regular: 'Inter-Regular', sans-serif;
  --font-inter-semibold: 'Inter-SemiBold', sans-serif;
  --font-poppins: 'Poppins-Regular', sans-serif;
}

@import 'modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Inter-Medium';
  src: url('./assets/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('./assets/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('./assets/fonts/Inter-SemiBold.ttf') format('woff');
}

body {
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: var(--font-poppins);
  font-weight: 400;
  font-style: normal;
  width: 100%;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--color-main);
}

h1 {
  font-family: var(--font-inter-semibold);
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
}

button:focus,
button:focus-visible {
  outline: none;
}
