@import '../../../index.css';

h3 {
  margin: 0;
  padding: 0;
}

.advert_card_gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 24px;
  border: 1px solid var(--color-border);
  border-radius: 20px;
  margin-bottom: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.advert_card {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  gap: 24px;
}

.advert_image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.advert_details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 24px;
}

.advert_title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.name_price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.price {
  display: flex;
  align-items: center;
  padding: 0;
  background: var(--color-price-background);
}

.price > svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.advert_favorite_location {
  display: flex;
  align-items: center;
  gap: 16px;
}

.advert_favorite,
.advert_location {
  display: flex;
  align-items: center;
}

.icon_star {
  width: 20px;
  height: 20px;
  fill: var(--color-icon-star);
  stroke: var(--color-icon-star);
  padding-right: 4px;
}

.icon_location {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: var(--color-icon-stroke);
  padding-right: 4px;
}

.advert_description {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.advert_description p {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-light-grey-text);
  overflow: hidden;
  text-overflow: ellipsis;
}

.collapsed {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.btn_show_more {
  text-align: center;
  padding: 16px 40px;
  width: 166px;
  height: 56px;
  background: var(--color-button-background);
  border: none;
  border-radius: 200px;
  cursor: pointer;
  margin: 0;
}

.btn_show_more:active,
.btn_show_more:hover {
  background: var(--color-button-hover);
}

.btn_show_more button:hover {
  background-color: var(--color-button-active);
}

.favorite {
  background: var(--color-favorite);
  border: none;
  cursor: pointer;
}

.favorite i,
.favorite.active i {
  color: var(--color-favorite-active);
}

p:after {
  content: ' ...';
}

.truncated_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.advert_stats,
.advert_features {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.stats_item,
.feature_item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.stats_item i,
.feature_item i {
  margin-right: 5px;
}

button {
  display: flex;
  align-items: center;
  margin: 0;
  background-color: var(--color-background);
  border-radius: 100px;
  border: none;
}

.adverts_btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-main);
}

.adverts_btn:hover,
.adverts_btn:active {
  color: var(--color-hover);
}

@media (min-width: 768px) {
  .advert_card {
    flex-direction: row;
    max-width: 1200px;
  }

  .advert_image {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
  }

  .advert_details {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .advert_favorite_location {
    justify-content: space-between;
    width: 100%;
  }

  .name_price {
    width: 100%;
    justify-content: space-between;
  }

  .btn_show_more {
    align-self: flex-start;
  }
}

@media (min-width: 1024px) {
  .advert_card_gallery {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
  }

  .advert_card {
    max-width: 1200px;
  }
  .advert_image {
    width: 290px;
    height: 310px;
    object-fit: cover;
    overflow: hidden;
  }
}
